/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* COLO +++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

:root {

	/* ------------------------------------------------------ */
	/* PRIM ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-prim-01:#3dcd58;
	--colo-prim-02:#78ff86;
	--colo-prim-03:#009a28;

	--colo-prim-04:hsla(126,47%,65%);
	--colo-prim-05:hsla(126,47%,70%);
	--colo-prim-06:hsla(126,47%,75%);
	--colo-prim-07:hsla(126,47%,80%);
	--colo-prim-08:hsla(126,47%,85%);
	--colo-prim-09:hsla(126,47%,90%);
	--colo-prim-10:hsla(126,47%,95%);	
	
	/* ------------------------------------------------------ */
	/* SECU ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-secu-01:#0288D1;
	--colo-secu-02:#03A9F4;
	--colo-secu-03:#01579B;	
	
	--colo-secu-04:hsla(198,96%,65%);
	--colo-secu-05:hsla(198,96%,70%);
	--colo-secu-06:hsla(198,96%,75%);
	--colo-secu-07:hsla(198,96%,80%);
	--colo-secu-08:hsla(198,96%,85%);
	--colo-secu-09:hsla(198,96%,90%);
	--colo-secu-10:hsla(198,96%,95%);
	
	/* ------------------------------------------------------ */
	/* COMP ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-comp-01:#FFCC00;
	--colo-comp-02:#FFDD00;
	--colo-comp-03:#FFFF66;

	/* ------------------------------------------------------ */
	/* DISO ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-diso-01:#ee5500;
	--colo-diso-02:#ff873b;
	--colo-diso-03:#b41e00;
	
	/* ------------------------------------------------------ */
	/* ALER ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-aler-01:#FFFFCC;
	--colo-aler-02:#FF6600;
	--colo-aler-03:#FF3322;

	/* ------------------------------------------------------ */
	/* DARK ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-dark-01:#607D8B;	
	--colo-dark-02:#546E7A;
	--colo-dark-03:#455A64;
	--colo-dark-04:#37474F;
	--colo-dark-05:#263238;		

	/* ------------------------------------------------------ */
	/* LIGH ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-ligh-01:#ECEFF1;
	--colo-ligh-02:#CFD8DC;
	--colo-ligh-03:#B0BEC5;
	--colo-ligh-04:#90A4AE;
	--colo-ligh-05:#78909C;	

	/* ------------------------------------------------------ */
	/* BBWW ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-00:#FFF;
	--colo-xx:#000;

	/* ------------------------------------------------------ */
	/* SOCI ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-soci-port-icon-01:;
	--colo-soci-port-icon-hove-01:;
	--colo-soci-port-bckg-01:;
	--colo-soci-port-bckg-hove-01:;
	
	--colo-soci-page-icon-01:var(--colo-00);
	--colo-soci-page-icon-hove-01:var(--colo-00);
	--colo-soci-page-bckg-01:var(--colo-secu-06);
	--colo-soci-page-bckg-hove-01:var(--colo-secu-01);
	
	--colo-soci-foot-icon-01:var(--colo-00);
	--colo-soci-foot-icon-hove-01:var(--colo-00);
	--colo-soci-foot-bckg-01:;
	--colo-soci-foot-bckg-hove-01:;

	--colo-soci-prod-icon-01:var(--colo-00);
	--colo-soci-prod-icon-hove-01:var(--colo-00);
	--colo-soci-prod-bckg-01:var(--colo-dark-02);
	--colo-soci-prod-bckg-hove-01:var(--colo-dark-03);	

	/* ------------------------------------------------------ */
	/* TEXT ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-parr-00:var(--colo-dark-01);
	--colo-text-h1:var(--colo-dark-05);
	--colo-text-h2:var(--colo-ligh-05);
	--colo-text-h3:var(--colo-secu-03);
	--colo-text-h4:var(--colo-prim-03);
	--colo-text-h5:var(--colo-prim-01);
	--colo-text-h6:var(--colo-dark-01);
	--colo-subt-00:var(--colo-prim-01);
	--colo-subt-01:var(--colo-secu-01);
	--colo-subt-02:var(--colo-secu-01);

	/* ------------------------------------------------------ */
	/* FOOT ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-foot-01:var(--colo-dark-04);
	--colo-foot-02:var(--colo-dark-03);
	--colo-foot-03:var(--colo-dark-01);
	--colo-foot-04:var(--colo-ligh-03);
	--colo-foot-05:var(--colo-ligh-05);
	--colo-foot-06:var(--colo-ligh-04);
	--colo-foot-07:var(--colo-dark-05);	

	/* ------------------------------------------------------ */
	/* HOME ------------------------------------------------- */
	/* ------------------------------------------------------ */	
	--colo-site-01:var(--colo-ligh-03);
	--colo-head-01:var(--colo-prim-02);;
	--colo-main-01:var(--colo-ligh-02);
	--colo-side-01:var(--colo-00);
	--colo-foot-01:linear-gradient(225deg,var(--colo-dark-04),var(--colo-dark-02),var(--colo-dark-02))!important; 
	

}


